@model CureSort2.Data.MedicalDevice

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Barcode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BinID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="BinID" class="form-control" asp-items="ViewBag.BinID"></select>
                <span asp-validation-for="BinID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Brand" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsApproved" />
                    <label asp-for="IsApproved"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Manufacturer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhotoUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
