@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>Cure Sort Description</h3>

<p>Cure Sort is a web application designed to help volunteers sort medical supplies by identifying the items for them. The items are then sorted into the correct bin.</p>
