@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>C.U.R.E. <img src="/images/cureicon.png" height="100" width="100"/> Sort</h1>
</div>
<div class="row">
    <div style="text-align:center">
        <p>Welcome to C.U.R.E. Sort. Here you can scan in barcodes from items or search for their name.</p>
        <h3>Please scan or search below.</h3>
        <form asp-controller="MedicalDevices" asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    <input id="SearchBox" placeholder="Search" autofocus type="text" name="barcode" style="margin-top:12px; width:200px" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>
</div>
<script src="~/js/quagga.min.js" type="text/javascript"></script>
<script>
        window.onload = function () {
            document.getElementById("SearchBox").value = '';
        };
</script>

