@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>C.U.R.E. <img src="/images/cureicon.png" height="100" width="100"/> Sort</h1>
</div>
<div class="row">
    <div style="text-align:center">
        <p>Welcome to C.U.R.E. Sort. Here you can scan in barcodes from items or search for their name.</p>
        <h3>Please scan or search your item in below.</h3>
        <form action="/medicaldevices">
            <img src="/images/barcode.gif" /><br />
            <br/>
            <p>
                <input type="text" style="width:400px" id="items" name="barcode" onkeypress="handle(event)" /><br/><br/>
                <button type="submit" value="Submit">Submit</button>
            </p>
        </form>
    </div>
</div>
<script>
    function handle(e){
        if(e.keyCode === 13){
            e.preventDefault(); // Ensure it is only this code that rusn

            window.location.href = ('/medicaldevices?barcode=' + items.value.toString())
        }
    }
</script>

