<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" hostingModel="inprocess" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44390" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.202\DotnetTools\dotnet-watch\6.0.202-servicing.22172.7\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:54620/CureSort2/,ws://localhost:54621/CureSort2/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArXsU8hgEbfPmlc3oKfdZi6P7U0RyDNqRLlwKqPleCGmatFIGRQtpUFSjsyR2EoSO/EQOse4EnPq8Ecp5TYZEqo10xIv01VUUvINOtA2scPBnDhq2E+aJ9z7oLxWbR5dRfkmnD+V0xl9sJd2oiz5S4Yq3bAO+gdHkqM/ReMLVAISIVLIpg1eEe1geuIyj71AzTJEkMW9UfynxIXVMMtKJ9hOsE7DHBAcMI1RHHTJNcRc09MOErTMGtsq45MJbNStYMbod7H72HTR39mgWs47VGEd8ZNbGwnceAsbL0kE56tiJgV/vbQiFhv/V50uJImfVscEXLcu86ry8uilw+JoyhQIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="fb6fad03-93cf-43a1-b7d9-b49348b04a15" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>